@page
@model Lab1.Pages.CreateMeetingModel
@{
    ViewData["Title"] = "Create Meeting";
}

<style>
    body {
        background-color: #DACCE6;
        font-family: Arial, sans-serif;
    }

    h3 {
        text-align: center;
        font-weight: bold;
        color: #472b7f;
    }

    form {
        max-width: 500px;
        margin: 0 auto;
        padding: 1rem;
        background-color: #FFFFFF;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    h5 {
        font-weight: bold;
        color: #472b7f;
        margin-bottom: 1.5rem;
    }

    label {
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: #472b7f;
    }

    select,
    input[type="date"],
    input[type="time"],
    input[type="text"] {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #CED4DA;
        border-radius: 0.25rem;
        background-color: #F0F0F0;
        box-sizing: border-box;
        margin-bottom: 1rem;
    }

        select:focus,
        input[type="date"]:focus,
        input[type="time"]:focus,
        input[type="text"]:focus {
            outline: none;
            box-shadow: 0 0 0 2px #AAA;
        }

    .btn-primary {
        display: block;
        width: 100%;
        padding: 0.5rem;
        background-color: #9C7FBA;
        color: white;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .btn-primary:hover {
            background-color: #472b7f;
        }

</style>
<br/>

<form asp-page-handler="SingleSelect" method="post">
    <h5 class="text-center">Schedule 1-on-1 Meeting</h5>
    <div class="form-group">
        <label for="faculty-select">Select Professor:</label>
        <select asp-for="SelectedFaculty" class="form-control">
            @foreach (var Faculty in Model.FacultyList)
            {
                <option value="@Faculty.facultyID">@Faculty.facFirstName @Faculty.facLastName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="date-input">Date:</label>
        <input type="date" asp-for="Date" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="start-time-input">Start Time:</label>
        <input type="time" asp-for="StartTime" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="location-select">Location:</label>
        <select asp-for="SelectedLocation" class="form-control">
            @foreach (var Location in Model.LocationList)
            {
                <option value="@Location.locationID">@Location.roomNumber</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="purpose-input">Purpose:</label>
        <input type="text" asp-for="Purpose" class="form-control" required />
    </div>
    <br />
    <button class="btn btn-primary">Request Meeting</button>
</form>
